@import '../../../../styles/shared.scss';

.app-layout {
  & > *:not(:first-child) {
    margin-top: $header-nav-height;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  .main {
    padding: 15px 20px;
    margin-top: $header-nav-height;
    margin-left: $sidebar-left-width;
  }
}