.segment {
    overflow: hidden;
}

.segment .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.segment .heading .headerText {
    margin: 0;
    padding: 0;
}

.segment .heading .actions {
    display: flex;
    margin-left: 10px;
}
