.ui.menu.fixed.side-nav {
    background-color: #f5f5f5;
    overflow-y: auto;
    margin-top: 64px;
    padding-bottom: 64px;
}
.ui.menu.fixed.side-nav .sidebar-item:hover {
    background: #ebebeb;
}
.side-nav.ui.vertical.menu {
    width: 17rem;
}
