doctype html
html
    body
        script.
            var token = "#{token}"
            localStorage.setItem('jwtToken', token);
            document.location.href = localStorage.getItem('redirectPath');